.underline {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid transparent;
}

.underline::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  border-bottom: 1px solid #3d37f1;
  transform-origin: bottom right;
  transition: transform 0.25s ease;
}

.underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}
