.oval-button {
  text-transform: uppercase;
  border-radius: 55px;
  padding: 1em 2em;
  border-style: none;
}

.purple-gradient {
  background-image: linear-gradient(to left, #a5a2f6, #3d37f1);
  color: white;
  box-shadow: 1px 1px 20px rgb(204, 202, 202);
}
