/* General styles */
* {
  box-sizing: border-box;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "Lato", sans-serif;
  color: #5a5454;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 15px;
  text-transform: uppercase;
  color: #3d37f1;
}

/* Setting the background color for the "header" part */
.header {
  background-color: #f8f8f8;
}

/* The following styles reffer to the navigation menu */

.navigation {
  max-width: 70%;
  margin: auto;
  display: flex;
  padding: 2em;
  text-transform: uppercase;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.user-menu button {
  font-weight: bold;
}

.nav-bar ul,
.user-menu ul {
  display: flex;
  list-style-type: none;
  gap: 2em;
  align-items: center;
}

.navigation a {
  text-decoration: none;
  text-decoration: none;
  color: #4b647e;
}

#cart-icon {
  height: 2em;
  position: relative;
}

/* The following styles reffer to the cover product and info menu */

.cover {
  display: flex;
  margin: auto;
  padding: 5em 10em;
  justify-content: flex-end;
  align-items: center;
  gap: 5em;
}

.cover-visual {
  position: relative;
}
.cover-background {
  position: relative;
  bottom: 0;
  left: 0;
  max-height: 25em;
}
.cover-photo {
  position: absolute;
  bottom: 0;
  left: 30px;
  max-height: 20em;
}

.cover-text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.cover p {
  font-size: 1.5rem;
}
