/* General styles */
* {
  box-sizing: border-box;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "Lato", sans-serif;
  color: #5a5454;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 15px;
  text-transform: uppercase;
  color: #3d37f1;
}
